@import url(./base.css);
#head{
width:100%;
height:24px;
background:#f6f6f6;
}
.headCon
{
width:1200px;
height:100%;
margin-left:auto;
margin-right:auto;
}
.headLeft
{
   width:160px;
   height:100%;  
   float:left;
   }
.headLeft a
{
color:#888;
font-size:12px;
border-right:1px solid #ececec;
display:inline-block;
line-height:24px;
padding-right:10px;
}
.headRight
{
    width:360px;
   height:100%;
   float:right;
    
}
.headRight a
{
color:#888;
font-size:12px;
}
.headRight span
{
font-size:12px;
color:#e0e3ea;
}
.headRight img
{
vertical-align:middle;
}
#head a:hover
{
color:#2583ef;
}
#login
{
float: left;
height: 22px;
position: relative;
padding-right: 5px;
cursor: pointer;
 border: 1px solid #f6f6f6;
 width: 41px;
}
#hx1{
  position: absolute;
  width: 46px;
  height: 4px;
  top: 22px;
  left: 0px;
  background: #fff;
  z-index: 100;
  display: none;
}
#login:hover
{
  background: #fff;
  border-color: #ececec;
}
#login:hover #img2
{
  display: inline-block;
}
#login:hover #img1
{
  display: none;
}
#login:hover a{
  color: #2583ef;
}
#login #hx1{
  display: block;
}
#img2{
  display: none;
}
#login1 
{
width:170px;
height:120px;
position:absolute;
background:#fff;
top:24px;
left:-1px;
display:none;
z-index:9;
border:1px solid #ececec;
}
.login2 
{
display:block;
width:138px;
height:33px;
border:1px solid #e5e5e5;
margin:20px auto;
font-size:14px;
text-align:center;
line-height:33px;
color:#22b3ff;
}
.logo:hover
{
color:#22b3ff;
background:#fff
}
.login2:hover
{
background:#22b3ff;
color:#fff;
}
#yingye
{
display:inline-block;
position: relative;
height: 22px;
border:1px solid #f6f6f6;
cursor: pointer;
padding-right:5px;
}
#hx2{
  width: 83px;
  position: absolute;
  left: 0;
  top:22px;
  height:3px;
  z-index: 1000;
  background: #fff;
  display: none;
}
#yingye:hover #hx2{
  display: block;
}
#yingye1
{
width:150px;
height:150px;
position:absolute;
background:#fff;
top:100%;
left:-1px;
display:none;
z-index:9;
border:1px solid #ececec;
}
#yingye1 img
{
float:left;
width:100px;
height:100px;
margin-left:24px;
margin-top:10px;
display:block;
}
#yingye1 p
{
  float:left;
  font-size:14px;
  color:#666;
  margin-left:5px;

}
#yd1
{
  color:#e40077;
  display:inline-block;
   height:22px;
  line-height: 22px;
}
#yd2
{
  display:inline-block;
  height:22px;
  line-height: 22px;
}
#img4{
display: none;
}
#yingye:hover{
  background: #fff;
  border-color: #ececec;
  
}
#yingye:hover a{
  color:#2583ef;
}
#yingye:hover #img4{
  display: inline-block;
}
#yingye:hover #img3{
  display: none;
}
#yd3
{
  width:489px;
  height:33px;
  border:1px solid #dfdfdf;
  border-right:none;
  text-indent:15px;
  float:left
}
#yd4
{
  width:85px;
  height:35px;
  border:none;
  color:#fff;
  float:left;
  background:#25b2fe url(../image/fdj.jpg) no-repeat 5px center;
}
#login:hover #login1{
  display: block;
}
#yingye:hover #yingye1{
  display: block;
}
.item:hover .list{
  display: block;
}
.item:hover .bianse{
  background: #f6f6f6
}
/*  头部 */

.nav
{
width:1200px;
height:40px;
margin-left:auto;
margin-right:auto;
position:relative;
}
.sy
{
width:159px;
height:38px;
background:#e4e4e4;
border-right:1px solid #fff;
text-align:center;
float:left;
border-top:2px solid #5385d0;

}
.sy a
{
font-size:16px;
font-weight:bold;
line-height:40px;
color:#5385d0;
display:block;
}
.sy a:hover
{
background:#f6f6f6
}
.item
{
width:259px;
height:40px;
border-right:1px solid #fff;
background:#e4e4e4;
text-align:center;
float:left;
}
.item a
{font-size:16px;
line-height:40px;
color:#666666;
display:block;
}
.list
{
width:1200px;
height:40px;
background:#fff;
position:absolute;
left:0;
top:40px;
z-index:100;
display:none;

}
.list li
{
display:inline;

}
.list a
{
width:165px;
height:40px;
font-size:14px;
color:#262626;
line-height:40px;
float:left;
background:none;
text-align:center;

}


.item a:hover
{
background:#f6f6f6;
}
.list a:hover
{
color:#1ba8f7;
background:#fff;
}


/*  导航 */
.logo
{width:1200px;
 height:94px;
 background:#fff;
 margin-left:auto;
 margin-right:auto;

}
.logo .left{
   width:310px;
   height:94px;
   float:left;
   text-align:center;
  }
  .left span
  {
  font-size:32px;
  float:left;
  margin-top:21px;
  color:#dfdfdf;
  margin-left:10px;
  margin-right:10px;
 
  }
  .logo img{
  float:left;
  }
  .logo select{
  border:none;
  color:#333333;
  margin-top:40px;
  font-weight:bold;
  }
.logo .right{
width:625px;
height:94px;

float:right;}
 #search {
 margin-top:15px;
 }
 .logo .one
 {
 margin-right:20px;
 color:#e40077;
 font-size:12px;
 }
 .logo .two
 {
 margin-right:20px;
 color:#666666;
 margin-bottom:20px;
  font-size:12px;
 }
 /*  logo */
 
 .banner
 {
 width:1200px;
 height:350px;
 margin-top:5px;
 margin-left:auto;
 margin-right:auto;
 
}
.banner_1
{
  width: 158px;
  height:348px;
  border:1px solid #b8d9e9;
  float:left;
  background:#fff;
  }
 .banner_1 .top
 {
 width:138px;
 height:32px;
 margin-left:10px;
 margin-right:10px;
 font-size:12px;
 text-align:center;
 line-height:32px;
 }
  .banner_1 .middle
  {
  width:138px;
  height:62px;
  margin-left:10px;
  margin-right:10px;
  font-size:14px;
  text-align:center;
  line-height:62px;
  border-top:1px solid #e9e9e9;
  overflow:hidden;
  background:#fff;
  }
  .top a
  {
  color:#333333;
  }
  .middle a
  {
  color:#333333;
  }
  .middle img
  {
  vertical-align:middle;
  }
  .banner_2
  {
  width:740px;
  height:350px;
  float:left;
  margin:0 10px;
  position:relative;
 display:inline-block;
 overflow:hidden;
  }
  .banmiddle
  {
  width:100%;
  height:100%;
  }
  .banner_2 a
  { 
  width:740px;
  height:350px;
  position:absolute;
  left:0;
  top:0;
  }
  .but
  {
  width:100px;
  height:10px;
  position:absolute;
  bottom:10px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  z-index:100;}
  .yuan
  {
  width:10px;
  height:10px;
  border-radius:50%;
  background:#ccc;
  margin-right:10px;
  float:left;
  cursor:pointer;
  }
  .yuan1
  {
   width:10px;
  height:10px;
  border-radius:50%;
  background:#cc1a83;
  margin-right:10px;
  float:left;
  cursor:pointer;
  }
  .banner_2 #left
  {
  width:30px;
  height:68px;
  position:absolute;
  left:0;
  top:50%;
  margin-top:-34px;
  z-index:100;
  cursor:pointer;
  opacity:0;
  }
   .banner_2 #right
  {
  width:30px;
  height:68px;
  position:absolute;
  right:0;
  top:50%;
  margin-top:-34px;
  z-index:100;
  cursor:pointer;
  opacity:0;
  }
  .banner_2:hover #left
  {
  opacity:0.3
  }
  .banner_2:hover #right
  {
  opacity:0.3
  }
   .banner_3
   {
   width:278px;
   height:348px;
   border:1px solid #dfdfdf;
   float:left;
   background:#fff;
   }
  .banner_3 .top
  {
  width:234px;
  height:140px;
  margin-top:20px;
 display:inline-block;
  margin-left:33px;
  }
  .banner_3 .quiry
  {
  width:78px;
  height:70px;
  float:left;
  
  }
   .banner_3 .bot
  {
  width:240px;
  height:170px;
  margin:0px auto ;
  }
  .quiry a
  {
  font-size:14px;
  display:block;
  }
.bot form
{
width:236px;
height:150px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
}
.bot .text
{
width:232px;
height:33px;

}
.bot .button
{width:43px;
 height:35px;
 margin-top:12px;
 border:none;
 text-align:center;
}
.bot .submit
{
 width:90px;
height:35px;
border:none;
background:#33acfb;
color:#fff;
margin-bottom:1px;
margin-left:72px;
margin-top:12px;
}
.bot .chongzhi
{
width:58px;
height:14px;
font-size:14px;
font-weight:bold;
margin-left:23px;
margin-bottom:12px;
float:left;
margin-top:10px;
}
.bot .dazhe
{
width:58px;
height:14px;
font-size:14px;
font-weight:bold;
margin-right:30px;
margin-bottom:12px;
color:#ff0000;
float:right;
margin-top:10px;
}
#yd5
{
  background:#e40077;
}
#yd6
{
  width:44px;
}
 /* banner */
 .fun
 {
  width:1170px;
  height:160px;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  background:#fff;
  overflow:hidden;
  position:relative;
  border:10px solid #dfdfdf;
  border-left-width:15px;
  border-right-width:15px;
 }
 .function 
 {
  height:160px;
  position:absolute;
  left:0;
  top:0;
  width: 1500px;
 }
   
 .function .Box
 {
 width:285px;
 height:160px;
 border-right:10px solid #dfdfdf;
 background:#fff;
 float:left;
 overflow:hidden; 
 }
 
 .function .firstl
 {
 width:140px;
 height:20px;
 margin-top:10px;
 margin-left:20px;
 font-size:18px;
 font-weight:bold;
 color:#333333;
 }
 .function .secondl
 {
 width:160px;
 height:15px;
 margin-top:12px;
 margin-left:20px;
 font-size:14px;
 font-weight:bold;
 color:#666666;
 }
 .function img
 {
 margin-left:159px;
 }
 .fun .zuo
  {
  width:30px;
  height:68px;
  position:absolute;
  left:0;
  top:50%;
  margin-top:-34px;
  z-index:100;
  cursor:pointer;
  opacity:0.5;
  }
  .fun .you
  {
  width:30px;
  height:68px;
  position:absolute;
  right:0;
  top:50%;
  margin-top:-34px;
  z-index:100;
  cursor:pointer;
  opacity:0.5;
  }
 /*function */
 .g4
 {
 width:1200px;
 height:428px;
 margin-top:10px;
 margin-left:auto;
 margin-right:auto;
 }
 .g4 .top1
 {
 width:1198px;
 height:48px;
 border:1px solid #dfdfdf;

 }
 .g4 .bot
 {
 width:1200px;
 height:378px;
 }
 .botleft
 {
 width:298px;
 height:377px;
 border:1px solid #dfdfdf;
 border-top:none;
 float:left;
 display:inline;
 overflow:hidden;
 }

.botright
 {
 width:900px;
 height:378px;
 float:left;
 display:inline;
 }
 .bot .box
 {
 width:299px;
 height:188px;
 border-right:1px solid #dfdfdf;
 border-bottom:1px solid #dfdfdf;
 float:left;
 display:inline;
 overflow:hidden;
 position:relative;
 background:#fff;
 }
 .bot .box2
 {
 background:#efefef;
 }
  #gtop1
 {
 font-size:14px;
 color:#0085d0;
 float:left;
 line-height:48px;
 margin-left:25px;
 font-weight:bold;
 overflow:hidden;
 }
 #gtop2
 {
 font-size:14px;
 color:#666666;
 float:right;
 line-height:48px;
 margin-right:27px;
 font-weight:bold;
 overflow:hidden;
 } 
.box .firstl
{
 position:absolute;
 width:180px;
 height:20px;
 top:12px;
 margin-left:20px;
 font-size:18px;
 color:#333333;
 display:inline; 
}
.box .secondl
{
 position:absolute;
 width:210px;
 height:15px;
 top:40px;
 margin-left:20px;
 font-size:14px;
 color:#666666;
 display:inline; 
}
.box2 .firstl
{
color:#e50077;
}
.box2 .secondl
{
color:#8e8e8e;
}
.box1 img
{
position:absolute;
bottom:-1px;
right:-12px;
}
.box1:hover img
{
position:absolute;
bottom:-1px;
right:-2px;
}
.box2 img
{
position:absolute;
bottom:-1px;
right:-12px;}
.box2:hover img
{
position:absolute;
bottom:-1px;
right:-2px;
}
.bot a 
{
  float: left;
}
#yd7
{
  margin-top:1px;
  margin-left:66px;
}
#yd8
{
  top:40px;
}
/*  4g  */
.phone
{
width:1198px;
height:428px;
border:1px solid #dfdfdf;
margin-top:10px;
margin-left:auto;
margin-right:auto;
overflow:hidden;
background:#fff;
}
.phonetop
{
width:1200px;
height:48px;
border-bottom:1px solid #dfdfdf;
}
.phonebot
{
width:1200px;
height:380px;
}
.phoneleft
{
width:298px;
height:380px;
float:left;
border-right:1px solid #dfdfdf;
position:relative;
overflow:hidden;
}
.phoneleft .one
{
position:absolute;
color:#000;
font-size:14px;
left:20px;
top:20px
}
.phoneleft .two
{
position:absolute;
color:#0093dc;
font-size:14px;
left:20px;
top:40px
}
.phoneleft .three
{
position:absolute;
color:#e50077;
font-size:20px;
left:20px;
top:60px
}
.phoneleft  img
{
position:absolute;
bottom:5px;
left:105px;
}
.phoneleft .shuidi
{
position:absolute;
left:200px;
top:0px;
}
.phoneleft span
{
font-size:10px;
text-decoration:line-through;
color:#999999;
position:absolute;
left:85px;
top:60px;
}
.dong:hover
{
position:absolute;
left:95px;
}
#yd9
{
  border:none;
}
/*  买手机  */
.box3
{
overflow:hidden;
position:relative;
}
.yw
{
bottom:-1px;
right:-6px;
position:absolute;;
}
.box:hover .yw
{
bottom:-1px;
right:-1px;
position:absolute;;
}

/*  业务  */
.bul
{
width:1198px;
height:36px;
border:1px solid #dfdfdf;
margin:10px auto 0;
position:relative;
overflow:hidden;
}
.bulletin
{
width:1100px;
height:36px;
position:absolute;
left:0;
top:0;
overflow:hidden;
display:none;
}
.bulletin .gg
{
font-size:15px;
color:#666666;
line-height:38px;
float:left;
margin-left:8px;
}
.bulletin .gg1
{
color:#0085d0;
cursor:pointer;
}
.bulletin .gg2
{
color:#cccccc;
}
/* bulletiin */
.border
{
width:1198px;
height:229px;
border:1px solid #dfdfdf;
margin:10px auto 0;
}
.borderleft
{
width:239px;
height:231px;
float:left;
margin-right:1px;
}
.border .firstl
{
font-size:14px;
color:#666666;
margin-top:6px;
margin-left:38px;
}
.border .secondl
{
font-weight:bold;
margin-top:28px;
}
#question1
{
  margin-right:0;
}
#question2
{
  margin-right:0;
}
/* border */
.footer
{
width:1200px;
height:188px;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
text-align: center;
}

.footer1 a
{
  font-size: 12px;
  color:#666666;
  margin-right: 2px;
}
.footer1 span
{
  font-size: 12px;
  color:#666666;
  margin-right: 2px;
}
.footer p
{
color:#333333;
margin-top:20px;
font-size:12px;
}
.footer1
{
width:700px;
height:20px;
text-align:center;
line-height: 20px;
margin-left: 250px;
}
a:hover .firstl
{
color:#0085d0;
}
/* footer */
body
{
position:relative
}
/*.pb1
{
position:fixed;
right:0;
bottom:150px;}
.pb2
{
position:fixed;
right:0;
bottom:0px;}*/
.pb1{
  position:fixed;
  top:300px;
  right:0px;
  *position:absolute;
  *top:expression(eval(document.documentElement.scrollTop+200));
  } 
  .pb2{
  
  background:red;
  position:fixed;
  top:450px;
  right:-85px;
  *position:absolute;
  *top:expression(eval(document.documentElement.scrollTop+350));
  } 
  #pb3
  {
 
  position:fixed;
  top:484px;
  right:-24px;
  *position:absolute;
  *top:expression(eval(document.documentElement.scrollTop+350));
  }
  #pb4
  {
  
  position:fixed;
  top:514px;
  right:-24px;
  *position:absolute;
  *top:expression(eval(document.documentElement.scrollTop+350));
  }
  #pb5
  {
  
  position:fixed;
  top:544px;
  right:-24px;
  *position:absolute;
  *top:expression(eval(document.documentElement.scrollTop+350));
  }
  #yd10
  {
    background:red;
  }
  #yd11
  {
    float:left;
  }
  #yd12
  {
    margin-left:15px;
  }
  #yd13
  {
    margin-left:28px;
  }
  #yd14
  {
    margin-left:66px;
  }
  #yd15
  {
    margin-left:96px;
  }
  #yd16
  {
    position:absolute;
	font-family:simsun;
	font-weight:700;
	color:#0085d0;
    cursor:pointer;
	top:10px;
	right:80px;
  }
  #yd18
  {
   position:absolute;
   margin-left:10px;
   font-family:simsun;
   font-weight:700;
   color:#0085d0;
    cursor:pointer;
	top:10px;
	right:50px;
  }
  #yd17
  {
    margin-left:8px;
  }
